body{
    background-color: rgba(69, 149, 175, 0.815);
}
* {
    margin: 0px;
    padding: 0px;
}
#rightid{
    margin-top: 0px;
}
h1{
    font-size: 60px;
     color: #000000bd;
    margin: 15px 0px 5px 40px;
    width: 70%;
    display: inline-block;
    
}
h2{
    margin: 0px 40px;
    color: #000000a9;
    width: 70%;
    display: inline-block;
}
.img{
    width: 150px;
    height: 100px;
    display: inline;
    margin-top: 0px;
    border-radius: 50%;
}
.nav{
    margin: 10px 40px;
    color: #000000a9;

}

.right,.left{
    margin: 58px 50px;
    border-left: #000000a9 dashed 2px;
    width: 40%;
    display: inline-block;
}

.right,.left>p,h3,h4{
    padding-left: 15px;
    margin-top: 5px;
    color: #000000a9;;
}
h3{
    color: rgba(0, 0, 255, 0.534);
    margin-bottom: 30px;
}
h4+p{
    margin-bottom: 30px;
}
p+p{
    margin-bottom: 50px;
}
.rightend{
    margin: 50px 0px 160px 0px;
}
h6{
    color: black;
    margin-bottom: 5px;
    font-size: 16px;
    padding-left: 20px;
}

