*{
    margin: 0px;
    padding: 0px;
}
.nav{
    border: 3px solid black;
    height: 80px;
    width: 90%;
    left: 50px;
    position: relative;
    top: 25px;
    border-radius: 15px;
    
}

.yellow,.yellowcenter{
    background-color: yellow;
    display: inline-block;
    height: 50px;
    width: 45px;
    position: absolute;
    left: 25px;
    top: 15px; 
}
.yellowcenter{
    width: 600px;
    left: 250px;
    
}
.blue,.bluecenter,.blueend{
    background-color: rgba(0, 0, 255, 0.664);
    height: 35px;
    display: inline-block;
    position: absolute;
}
.blue{
    width: 100px;
    left: 15px;
    bottom: 2px;
}
.bluecenter{
    width: 100px;
    left: 230px;
    bottom: 2px;
}
.blueend{
    width: 80px;
    right: 10px;
    bottom: 2px;
}
.blue .red{
    background-color: red;
    height: 25px;
    width: 30px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
}
.yellowend{
    background-color: yellow;
    display: inline-block;
    height: 50px;
    width: 70px;
    position: absolute;
    right: 30px;
    top: 15px;
}
.inendyellow{
background-color: transparent;
 border: 2px solid green;
 width: 30px;
 height: 25px;
 position: absolute;
 top: 7px;
 right: 10px;
 
}


